body {
  font-family: sans-serif;
}

#foodInformation {
  width: 90%;
  margin: 0 auto;
}

.foodInfoCard {
  margin: 5%;
  background-color: teal;
  padding: 20px;
  width: 40%;
  min-width: 200px;
  float: left;
  box-sizing: border-box;
}

.foodTypeBlock {
  margin: 10px;
  font-weight: bold;
  text-transform: capitalize;
}